@media screen and (min-width: 320px) and (max-width: 480px){

    .text{
        display: flex;
        font-size: 160px;
        margin-top: 50px;
        margin-left: 10%;
        text-align: center;
    }
    .btn-1{
        width: 300px;
        height: 80px;
        margin: 0px auto;
        font-size: 60px;
        margin-top: 20%;
        margin-left: 10%;
        color: #000000;
        background: #a9db1b;
        box-shadow: -11px 15px 1px 5px #000;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .text{
        margin-left: 18%;
    }
    .btn-1{
        width: 400px;
        color: #000000;
        background: #a9db1b;
        margin-top: 150px;
        box-shadow: -11px 15px 1px 5px #000;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px){

    .text{
        margin-left: 50%;
        font-size: 100px;
    }
    .btn-1{
        width: 400px;
        color: #000000;
        background: #a9db1b;
        margin-top: 150px;
        box-shadow: -11px 15px 1px 5px #000;
    }
}